<h1 id="welcome">Welcome to CSE Motors!</h1>
<div class="image-container">
    <img src="images/vehicles/delorean.jpg" alt="delorean">
    <div class="car-box">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <button>Own Today</button>
    </div>
</div>
<section class="car-specs">
    <h1 id="delorean-reviews-title">DMC Delorean Reviews</h1>
    <div class="car-reviews">
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's living and I love it!" (5/5)</li>
        </ul>
    </div>
    <h1 id="delorean-upgrades-title">Delorean Upgrades</h1>
    <div class="car-upgrades">
        <div class="upgrade-card">
            <img src="images/upgrades/flux-cap.png" alt="flux-capacitor">
            <a href="">Flux Capacitor</a>
        </div>
        <div class="upgrade-card">
            <img src="images/upgrades/flame.jpg" alt="flame-decals">
            <a href="">Flame Decals</a>
        </div>
        <div class="upgrade-card">
            <img src="images/upgrades/bumper_sticker.jpg" alt="bumper-stickers">
            <a href="">Bumper Stickers</a>
        </div>
        <div class="upgrade-card">
            <img src="images/upgrades/hub-cap.jpg" alt="hub-caps">
            <a href="">Hub Caps</a>
        </div>
    </div>
</section>
